.app {
  box-sizing: border-box;
  padding: 100px;
  background: red;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  overflow: hidden !important;
}
